/* 
	MEDIUM - DESKTOP
	1024px -> 1366px
	COLUMN: 56px;
	GAP: 24px; 
*/
@media only screen and (min-width: 64rem) {
  .bootstrap-overwrites .navbar {
    background-color: black;
    padding-top: 1rem;
  }
  .bootstrap-overwrites .navbar .navbar-brand img {
    width: 152px;
  }
  .bootstrap-overwrites .navbar .navbar-brand {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .fullscreen-bg .fullscreen-bg__video {
    display: block;
  }
  .scotch-container {
    width: 58.5rem;
  }
  html {
    font-size: 16px;
  }
  .grid-doce {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
  }
  .grid-doce .span-md-8-solo {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
  .grid-doce .span-md-2-from-4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
  .grid-doce .span-md-7-from-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
  .grid-doce .span-md-6-from-4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
  }
  .grid-doce .span-md-2 {
    grid-column: span 2;
  }
  .grid-doce .span-md-3 {
    grid-column: span 3;
  }
  .grid-doce .span-md-4 {
    grid-column: span 4;
  }
  .grid-doce .span-md-5 {
    grid-column: span 5;
  }
  .grid-doce .span-md-6 {
    grid-column: span 6;
  }
  .grid-doce .span-md-7 {
    grid-column: span 7;
  }
  .grid-no-gap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .grid-no-gap .span-md-6 {
    grid-column: span 6;
  }
  .main-productos .panes .flip-card {
    margin-top: 3.5rem;
  }
  main.main .instagram-plugin {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  main.main .parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  main.main .second {
    text-align: left;
  }
  main.main .second .parte-uno {
    padding-top: 13.25rem;
  }
  main.main .second .parte-uno img.second-zepplin {
    margin-bottom: 2.5rem;
  }
  main.main .second .parte-uno img.parte-uno-img-right {
    margin-left: 2rem;
    padding-top: 0rem;
  }
  main.main .second .parte-dos {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  main.main .second .parte-dos #carouselExampleIndicators2 {
    margin-top: -7rem;
  }
  main.main .second .parte-dos img.parte-dos-img-left {
    margin-bottom: 0rem;
    padding-right: 2rem;
  }
  main.main .second .parte-dos .btn-pan {
    margin-top: 0;
  }
  main.main .third .parte-uno .menu-fotos p {
    font-size: 1rem;
  }
  main.main .third .parallax .fourth-parallax-inner h3 {
    font-size: 1.75rem;
    padding: 0;
  }
  .main-work-with-us form button {
    margin-top: 0rem;
  }
  .main-contacto {
    height: 100vh;
  }
  .main-contacto .grid-doce .span-md-3 {
    grid-column: span 3;
  }
  .nosotros p {
    padding-right: 6rem;
  }
  .nosotros .nosotros-carousel {
    padding-bottom: 0;
  }
.main-contacto.contacto-exito,
.main-work-with-us.contacto-exito  {
  text-align: center;
  color: #fff;
 padding-top: 150px;
}
}
/*# sourceMappingURL=medium.css.map */